<h1>{{ wybory.typ }}</h1>

{#<ul>#}
{#    {% for Kandydat in kandydat_list %}#}
{#        <li><a href="/Doggo/kandydat/{{ Kandydat.id }}/">{{ Kandydat.imie }} {{ Kandydat.nazwisko }}</a></li>#}
{#        <li><a href="{% url 'Doggo:vote' Kandydat.id %}">{{ Kandydat.imie }} {{ Kandydat.nazwisko}}</a></li>#}
{#    {% endfor %}#}
{#</ul>#}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for choice in kandydat_list %}

<form action="{% url 'Doggo:vote' wybory.id %}" method="post">
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"/>
    <label for="choice{{ forloop.counter }}">{{ choice }}</label><br/>
{% endfor %}
<input type="submit" value="Vote"/>
</form>